In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [3]:
sal = pd.read_csv(r"E:\Adv Analytics\Datasets\Exp_Salaries.csv")
sal

,Salary,Years_Previous_Experience,Years_Employed,Years_Education,Gender,Department,Number_Supervised
0,32782,1,0,7,Male,A,0
1,32920,3,15,9,Female,A,4
2,29548,6,5,1,Male,A,0
3,39828,6,18,5,Female,A,5
4,31528,11,3,3,Male,A,6
5,38985,7,18,9,Male,A,5
6,41889,16,22,7,Male,A,7
7,38791,4,21,5,Male,A,9
8,28985,1,0,4,Female,A,4
9,24749,2,6,0,Female,A,1
10,35467,6,3,6,Female,B,3
11,35468,5,9,4,Female,B,5
12,29876,0,2,3,Female,B,5
13,43674,9,6,4,Male,B,2
14,36431,4,9,4,Female,B,2
15,26578,6,0,2,Female,B,2
16,36571,1,6,4,Male,B,2
17,56326,3,12,8,Male,B,6
18,23654,0,0,0,Female,C,2
19,36578,4,4,8,Male,C,8
20,37548,9,19,4,Male,C,6
21,53234,0,25,6,Male,C,3
22,54679,3,20,6,Female,C,4
23,47536,5,15,6,Male,C,4
24,31425,6,7,5,Female,C,6
25,65487,0,27,12,Female,D,44
26,46184,3,20,4,Male,D,1
27,54899,5,12,8,Female,D,0
28,34869,5,7,4,Female,D,1
29,35487,2,8,2,Female,D,2
30,26548,1,5,0,Male,D,2
31,34231,2,6,6,Male,D,3
32,39331,3,9,6,Female,D,1
33,36512,6,6,4,Female,D,2
34,68425,2,25,12,Male,D,1
35,36487,5,6,2,Male,D,3
36,34632,4,5,4,Male,D,0
37,46211,5,14,6,Female,D,5
38,51698,6,18,6,Male,D,1
39,69246,3,22,10,Male,D,45
40,48695,19,6,8,Male,D,40
41,34987,6,9,2,Female,D,3
42,35631,4,6,4,Male,D,2
43,39743,6,9,5,Female,D,1
44,41255,4,9,6,Male,D,4
45,26452,3,1,2,Female,D,0

In [4]:
# in x all attribute will show expect 'salary'
# in y only salary
x = sal.drop('Salary', axis=1)
y=sal['Salary']
x = pd.get_dummies(x,drop_first= True)
x

,Years_Previous_Experience,Years_Employed,Years_Education,Number_Supervised,Gender_Male,Department_B,Department_C,Department_D
0,1,0,7,0,1,0,0,0
1,3,15,9,4,0,0,0,0
2,6,5,1,0,1,0,0,0
3,6,18,5,5,0,0,0,0
4,11,3,3,6,1,0,0,0
5,7,18,9,5,1,0,0,0
6,16,22,7,7,1,0,0,0
7,4,21,5,9,1,0,0,0
8,1,0,4,4,0,0,0,0
9,2,6,0,1,0,0,0,0
10,6,3,6,3,0,1,0,0
11,5,9,4,5,0,1,0,0
12,0,2,3,5,0,1,0,0
13,9,6,4,2,1,1,0,0
14,4,9,4,2,0,1,0,0
15,6,0,2,2,0,1,0,0
16,1,6,4,2,1,1,0,0
17,3,12,8,6,1,1,0,0
18,0,0,0,2,0,0,1,0
19,4,4,8,8,1,0,1,0
20,9,19,4,6,1,0,1,0
21,0,25,6,3,1,0,1,0
22,3,20,6,4,0,0,1,0
23,5,15,6,4,1,0,1,0
24,6,7,5,6,0,0,1,0
25,0,27,12,44,0,0,0,1
26,3,20,4,1,1,0,0,1
27,5,12,8,0,0,0,0,1
28,5,7,4,1,0,0,0,1
29,2,8,2,2,0,0,0,1
30,1,5,0,2,1,0,0,1
31,2,6,6,3,1,0,0,1
32,3,9,6,1,0,0,0,1
33,6,6,4,2,0,0,0,1
34,2,25,12,1,1,0,0,1
35,5,6,2,3,1,0,0,1
36,4,5,4,0,1,0,0,1
37,5,14,6,5,0,0,0,1
38,6,18,6,1,1,0,0,1
39,3,22,10,45,1,0,0,1
40,19,6,8,40,1,0,0,1
41,6,9,2,3,0,0,0,1
42,4,6,4,2,1,0,0,1
43,6,9,5,1,0,0,0,1
44,4,9,6,4,1,0,0,1
45,3,1,2,0,0,0,0,1

In [5]:
lr= LinearRegression()
lr.fit(x,y)
print("Slope=", lr.coef_)
print("Intercept=",lr.intercept_)
# Here slope will show for all attribute

Slope= [ -72.80328327  709.4545611  1544.51873329  130.16686237 2040.25402235
 8455.62629126 5049.07503746 8096.04569535]
Intercept= 17272.939239107673

In [6]:
y_pred_trn = lr.predict(x)
print(mean_absolute_error(y, y_pred_trn))
print(mean_squared_error(y, y_pred_trn))
print(r2_score(y, y_pred_trn))

3455.777349827126
17391636.87667613
0.8530532047266131

In [7]:
################################################################

In [8]:
existing = np.array([56, 64, 94, 55, 22])
pred_1 = np.array([55.2, 45.33, 85.44, 54.22, 30])
print(mean_absolute_error(existing, pred_1))
print(mean_squared_error(existing, pred_1))
print(r2_score(existing, pred_1))

7.362
97.41818000000002
0.8155517646167828

In [9]:
existing = np.array([56, 64, 94, 55, 22])
pred_2 = np.array([57, 58, 90, 53, 24])
print(mean_absolute_error(existing, pred_2))
print(mean_squared_error(existing, pred_2))
print(r2_score(existing, pred_2))

3.0
12.2
0.9769009391093608

In [10]:
####################################################################

In [11]:
housing= pd.read_csv(r"E:\Adv Analytics\Datasets\Housing.csv")
housing

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,61000.0,6360,2,1,1,yes,no,no,no,no,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...
541,91500.0,4800,3,2,4,yes,yes,no,no,yes,0,no
542,94000.0,6000,3,2,4,yes,no,no,no,yes,0,no
543,103000.0,6000,3,2,4,yes,yes,no,no,yes,1,no
544,105000.0,6000,3,2,2,yes,yes,no,no,yes,1,no
545,105000.0,6000,3,1,2,yes,no,no,no,yes,1,no

In [12]:
### X: Lot,Size,Bedrooms

# not completed

In [13]:
dum_house = pd.get_dummies(housing,drop_first = True)
train,test = train_test_split(dum_house , test_size=0.3,random_state=23)
x_train = train.drop('price' ,axis=1)
y_train = train['price']
x_train
# pd.getdummies will fill the categorical data with the binary values
# in x_train  all value expect price wil dispaly

,lotsize,bedrooms,bathrms,stories,garagepl,driveway_yes,recroom_yes,fullbase_yes,gashw_yes,airco_yes,prefarea_yes
418,7500,4,2,2,3,1,0,1,0,1,1
487,8100,2,1,1,1,1,0,0,0,0,0
82,3650,3,1,2,0,1,0,0,0,0,0
59,2400,3,1,2,0,1,0,0,0,0,0
323,6000,3,1,1,1,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
460,2145,3,1,2,0,1,0,1,0,0,1
237,3600,6,1,2,1,1,0,0,0,0,0
31,3500,4,1,2,2,1,0,0,0,1,0
488,5880,3,1,1,1,1,0,0,0,0,0
40,3745,3,1,2,0,1,0,1,0,0,0

In [14]:
y_train
# in this only price will display

418    174500.0
487     44100.0
82      50000.0
59      30000.0
323     98000.0
         ...
460     47600.0
237     50000.0
31      48000.0
488     47000.0
40      66500.0
Name: price, Length: 382, dtype: float64

In [15]:
lr= LinearRegression()
lr.fit(x_train,y_train)
print("Intercept", lr.intercept_)
print("Slopes",lr.coef_)

Intercept -2345.5390411406843
Slopes [3.40973757e+00 1.55596076e+03 1.42736940e+04 6.64005832e+03
 4.82101022e+03 4.41071069e+03 4.20883594e+03 5.58685853e+03
 1.70918780e+04 1.42566547e+04 1.07900211e+04]

In [16]:
x_test = test.drop('price',axis=1)
y_pred = lr.predict(x_test) #it will predict price by all other independent attributes
y_test = test['price'] #it will take original price that store in test at time of split

In [17]:
# here we are comparing the value of predicted price (y_pred) and original price(y_test)
print(mean_absolute_error(y_test,y_pred))
print(mean_squared_error(y_test, y_pred))
print(r2_score(y_test, y_pred))

11114.428544968441
222913438.28557736
0.6543071090954231

In [19]:
y_pred

array([ 98793.65738695,  68878.91754976,  62991.28807429,  38365.90068926,
        64161.74734273,  64392.07636386, 115523.18804332,  38502.29019204,
        68585.4656431 ,  39866.18521989,  85760.63532439,  56956.50826236,
        50546.83297352,  32045.73695816,  80741.62159736,  89915.6968862 ,
        61266.81863064,  62683.2033091 ,  78382.71557223,  46255.0433812 ,
        62182.4694705 , 104737.38740305,  86033.40492079,  70736.78969104,
        93371.92088509,  74616.52308101,  64498.5324424 ,  42725.96499665,
        68587.93765386,  42828.04549684,  66305.09444518,  79194.31762693,
        53428.77252555,  66714.10014091,  57567.83523294,  37023.95380979,
       107834.44967985,  48772.55013143,  59030.83099009,  75291.51075745,
        31521.75779629,  96555.75520381,  61933.50770597,  54835.24237592,
        98232.0971986 ,  69987.61102036,  93785.04709526,  96048.1128857 ,
        65475.52512705,  42287.09889431,  94124.53282299,  39218.33508166,
        71550.3178438 ,  36696.26030099,  37194.07138917,  96672.90605706,
        96846.62332148,  50721.79959739,  47073.38039791,  92693.06494385,
        39866.18521989,  88762.90282695,  54255.40814337,  71315.45506964,
        60081.12395572,  40105.36652858, 100011.54205006,  82032.53285493,
        47414.35415487,  93497.08172185, 102317.9862826 ,  61344.68217737,
        79532.33414263,  85946.53258751,  43003.14378393,  40774.29583726,
        86641.64688692,  71530.12965451,  60954.96394544, 109607.51321605,
        83895.10292942,  95695.25434812, 113177.28913611,  60959.48469769,
        98111.71595941,  98599.12808514,  77817.49988177,  85534.36677038,
        33660.8321423 ,  44649.37781901,  81733.87925241,  57835.63259146,
        47584.84103335,  64140.15789647,  66924.34489201,  54416.834699  ,
       141614.57436431,  43911.75408012,  79948.00734056,  92947.30444783,
        60522.41973411,  38365.90068926,  76769.2407311 ,  48173.42636332,
        67126.05645053,  69045.54438472,  92227.76815137,  42960.1164651 ,
        71081.29419202,  78079.42723586,  59221.77024353,  54984.47123823,
        59030.83099009,  86467.38165711,  57079.1618307 ,  62729.23734589,
        65592.20704012,  46510.06239321,  86864.03217743,  95058.30239331,
        86830.03365129,  78048.83004651, 102464.92420615,  64199.33276186,
        50416.31627989,  66354.38037508,  75119.41682923,  44516.0772207 ,
        41141.06836881,  94518.3139606 ,  79096.16087955,  40616.82716402,
       111100.65060925,  30886.42618449,  89594.75036425, 109580.95552446,
       108573.28180267, 102820.15391898,  68714.77581819,  60979.20169659,
        87671.80427058,  83968.55299468,  41093.69074495,  55611.0045701 ,
        47414.35415487,  82262.14691967,  80174.22587949,  80378.81013366,
        67555.40759034,  36298.47929822,  76231.12894298,  40002.57472267,
        56306.23233218,  45949.29802078, 102410.58674481,  45070.48392779,
        82966.98030064,  85998.84949094,  33056.13970262,  92427.77722506,
        88676.07150053,  48577.48378425,  93206.50272311,  35502.85215163])